<div class="cointainer mx-auto">
  <h1 class="flex items-center justify-center font-bold text-6xl text-primary">Busca por CEP</h1>
  <form action="/create" class="grid grid-flow-col gap-4 mt-10">
    <%= simple_form_for :cep do |f| %>
      <div class="relative w-full">
        <%= f.text_field :number, placeholder: "00000-000", maxlength: 9, class: "input input-bordered w-150", id: "cep_input"%>
      </div>
      <button class="btn btn-primary w-30" id="cep_submit">Buscar</button>
    <% end %>
    <% if @error_message.present? %>
      <small class="text-error text-base"><%= @error_message %></small>
    <% end %>
  </form>
  <% if @address_info.present? %>
    <%= render partial: "cards/searched_cep"%>
  <% end %>
  <div class="grid grid-flow-col gap-10">
    <%= render partial: "cards/most_searched_ceps"%>
    <%= render partial: "cards/most_searched_ceps_from_each_state"%>
  </div>
</div>

<script type='text/javascript'>
  $(function() {
    $(document).on("click", "#cep_submit", function(event){
      $.ajax('create', {
        type: 'POST',
        url: '/create',
        dataType: 'script',
        data: {
          mid: $("#cep_input").val()
        },
        error: function(jqXHR, textStatus, errorThrown) {
        return console.log("AJAX Error: " + textStatus);
      }
    });
  });
</script>
