<div class="cointainer mx-auto">
  <h1 class="flex items-center justify-center font-bold text-6xl text-blue-500 mt-5">Busca por CEP</h1>
  <form action="/" class="flex w-full items-center justify-center gap-2 mt-10">
    <%= simple_form_for :cep, builder: TailwindFormBuilder, url: '/', html: { autocomplete: 'off' } do |f| %>
      <div class="relative w-full">
        <%= f.text_field :number, placeholder: "00000-000", maxlength: 9 %>
      </div>
      <%= f.submit "Buscar" %>
      <%= link_to "Limpar", '/', class: "inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-4 shadow-sm hover:shadow-md bg-red-800 hover:bg-red-700 relative bg-gradient-to-b from-red-700 to-red-800 border-red-900 text-stone-50 rounded-lg hover:bg-gradient-to-b hover:from-red-800 hover:to-red-800 hover:border-red-900 after:absolute after:inset-0 after:rounded-[inherit] after:box-shadow after:shadow-[inset_0_1px_0px_rgba(255,255,255,0.25),inset_0_-2px_0px_rgba(0,0,0,0.35)] after:pointer-events-none transition antialiased" %>
    <% end %>
    <% if @error_message.present? %>
      <small class="font-sans antialiased text-sm text-red-500 mt-1 block"><%= @error_message %></small>
    <% end %>
  </form>
  <% if @address_info.present? %>
    <div class="flex justify-center max-w-lg flex-col mx-auto text-center w-full rounded-lg border shadow-sm overflow-hidden bg-white border-stone-200 shadow-stone-950/5 mt-10">
      <div class="w-full h-max rounded px-3.5 py-2.5">
        <h6 class="font-sans antialiased font-bold text-base md:text-lg lg:text-xl text-current">Informações do endereço:</h6>
        <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "CEP: #{@address_info&.dig(:number)}" %></p>
        <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "Endereço: #{@address_info&.dig(:address)}" %></p>
        <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "Bairro: #{@address_info&.dig(:district)}" %></p>
        <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "Cidade: #{@address_info&.dig(:city)}" %></p>
        <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "Estado: #{@address_info&.dig(:state)}" %></p>
        <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "DDD: #{@address_info&.dig(:ddd)}" %></p>
      </div>
    </div>
  <% end %>
  <div class="flex items-stretch justify-center text-center">
    <div class="w-full rounded-lg border shadow-sm overflow-hidden bg-white border-stone-200 shadow-stone-950/5 max-w-xs m-5 ">
      <div class="w-full h-max rounded px-3.5 py-2.5">
        <h6 class="font-sans antialiased font-bold text-base md:text-lg lg:text-xl text-current">CEPs mais buscados:</h6>
        <% if @most_searched_ceps.empty? %>
          <p class="font-sans antialiased text-base my-1 text-stone-400 mt-3"><%= 'Nenhuma busca realizada' %></p>
        <%else%>
          <% @most_searched_ceps.each_with_index do |address_info, index| %>
            <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "#{index + 1} - #{address_info.number}" %></p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="w-full rounded-lg border shadow-sm overflow-hidden bg-white border-stone-200 shadow-stone-950/5 max-w-xs m-5">
      <div class="w-full h-max rounded px-3.5 py-2.5">
        <h6 class="font-sans antialiased font-bold text-base md:text-lg lg:text-xl text-current">Mais buscados por estado:</h6>
        <% if @most_searched_ceps_from_each_state.empty? %>
          <p class="font-sans antialiased text-base my-1 text-stone-400 mt-3"><%= 'Nenhuma busca realizada' %></p>
        <% else %>
          <% @most_searched_ceps_from_each_state.each do |address_info| %>
            <p class="font-sans antialiased text-base my-1 text-stone-600"><%= "#{address_info.state} - #{address_info.number}" %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

