<div class="cointainer mx-auto">
  <h1 class="flex items-center justify-center font-bold text-7xl text-primary mt-5">Busca por CEP</h1>
  <form action="/" class="grid grid-flow-col gap-4 mt-10">
    <%= simple_form_for :cep, url: '/', html: { autocomplete: 'off' } do |f| %>
      <div class="relative w-full">
        <%= f.text_field :number, placeholder: "00000-000", maxlength: 9, class: "input input-bordered w-150" %>
      </div>
      <%= f.submit "Buscar", class: "btn btn-primary w-30" %>
      <%= link_to "Limpar", '/', class: "btn btn-base-300 w-30" %>
    <% end %>
    <% if @error_message.present? %>
      <small class="text-error text-base"><%= @error_message %></small>
    <% end %>
  </form>
  <% if @address_info.present? %>
    <%= render partial: "cards/searched_cep"%>
  <% end %>
  <div class="grid grid-flow-col gap-10">
    <%= render partial: "cards/most_searched_ceps"%>
    <%= render partial: "cards/most_searched_ceps_from_each_state"%>
  </div>
</div>

