<div class="flex justify-center max-w-lg flex-col mx-auto card bg-primary text-primary-content w-96 mt-10">
  <div class="card-body">
    <div class="card-actions justify-end">
      <%= link_to "✖️", '/', class: "btn btn-square btn-sm" %>
    </div>
    <h2 class="card-title">Informações do endereço:</h2>
    <p> <%= "CEP: #{@address_info&.dig(:number)}" %> </p>
    <p> <%= "Endereço: #{@address_info&.dig(:address)}" %> </p>
    <p> <%= "Bairro: #{@address_info&.dig(:district)}" %> </p>
    <p> <%= "Cidade: #{@address_info&.dig(:city)}" %> </p>
    <p> <%= "Estado: #{@address_info&.dig(:state)}" %> </p>
    <p> <%= "DDD: #{@address_info&.dig(:ddd)}" %> </p>
  </div>
</div>
